CORS_ORIGINS=*
CORS_CREDENTIALS=false
CORS_METHODS=*
CORS_HEADERS=*

SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_PASSWORD=your-password

# (Optional) Cloudinary configuration
# You can either set CLOUDINARY_URL or the individual variables below
# Example CLOUDINARY_URL: cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=